@charset "UTF-8";

:root {
	font-family: "Inter", system-ui, sans-serif;
	letter-spacing: -0.02em;
	--brandred: #e44b3a;
	--brandblack: #000;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: "Inter var", system-ui, sans-serif;
	}
}

html,
body {
	overscroll-behavior-x: none;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

[hidden] {
	display: none !important;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	font-weight: 800;
}

p {
	margin: 0;
}

button {
	padding: 0;
	overflow: visible;
	color: inherit;
	font: inherit;
	line-height: normal;
	background: 0 0;
	border: 0;
	text-align: left;
	cursor: pointer;
}

a {
	color: currentColor;
	text-decoration: none;
}

select {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

.no-list-styles {
	margin: 0;
	padding: 0;
	list-style: none;
}

:focus {
	outline: 0;
}

html {
	font-size: 15px;
}

.hred {
	color: var(--brandred);
	font-weight: 800;
}

.hblack {
	color: var(--brandblack);
	font-weight: 600;
}

.hheavy {
	font-weight: 900;
}

.vignum {
	font-size: 1.2rem;
	font-weight: 900;
	vertical-align: middle;
	padding-right: 0.5rem;
}

.nobr {
	display: inline;
	white-space: nowrap;
}

.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.aligncenter {
	text-align: center;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.justify-text {
	text-align: justify;
}

body {
	font-size: 0.8rem;
	line-height: 1.167;
}

*,
:after,
:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	/*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none*/
}

html::-moz-selection {
	background-color: transparent;
}

html::selection {
	background-color: transparent;
}

html body {
	opacity: 0;
}

html.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html.fixed body {
	width: 100%;
	max-height: 100%;
	height: 100%;
	-webkit-transition: 0.3s ease-in-out opacity;
	-o-transition: 0.3s ease-in-out opacity;
	-moz-transition: 0.3s ease-in-out opacity;
	transition: 0.3s ease-in-out opacity;
}

html.touch body {
	opacity: 1;
}

html.no-touch body {
	opacity: 1;
}

.fullheight {
	height: 100%;
	max-height: 100%;
}

.container {
	width: 100%;
}

a {
	color: currentColor;
	text-decoration: none;
}

.block {
	display: block;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.flexgroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.flexcol1 {
	/*flex: 50%;*/
	flex: -webkit-calc(50% + 2rem);
	flex: -moz-calc(50% + 2rem);
	flex: calc(50% + 2rem);
}

.flexcol2 {
	/*flex: 50%;*/
	flex: -webkit-calc(50% - 2rem);
	flex: -moz-calc(50% - 2rem);
	flex: calc(50% - 2rem);
}

.flexcolds {
	flex: 15%;
}

.flexp {
	padding-right: 10px;
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.align-start {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.align-end {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-moz-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.justify-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.justify-end {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.justify-between {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.img-container {
	position: relative;
	display: block;
	width: 100%;
	line-height: 0;
}

.img-container img {
	width: 100%;
	height: auto;
}

.click-cancel {
	pointer-events: none;
}

.hidden {
	display: none;
}

.hidden.open {
	display: block;
}

.xs-row {
	margin-bottom: 0.5rem;
}

.sm-row {
	margin-bottom: 1rem;
}

.md-row {
	margin-bottom: 2rem;
}

.lg-row {
	margin-bottom: 3rem;
}

.xl-row {
	margin-bottom: 3rem;
}

.xxl-row {
	margin-bottom: 3rem;
}

.site-main {
	padding: 0 1rem;
}

.btn__switch {
	margin: -0.2rem -0.5rem 0 auto;
	padding: 0.5rem;
}

.btn__switch span:last-child {
	display: none;
}

.active .btn__switch span:first-child,
.show-close .btn__switch span:first-child {
	display: none;
}

.active .btn__switch span:last-child,
.show-close .btn__switch span:last-child {
	display: block;
}

.video-container {
	position: relative;
	line-height: 0;
}

.video-container:not(.fullscreen-active) .leave-fullscreen {
	display: none;
}

.video-container.fullscreen-active .enter-fullscreen {
	display: none;
}

.video-container.fullscreen-active .leave-fullscreen {
	display: block;
}

.video-container.fullscreen-active video {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.video-container .video-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.video-container .video-loader svg {
	opacity: 0;
	width: 3rem;
	height: 3rem;
	-webkit-animation: rotate360 0.4s linear infinite;
	-moz-animation: rotate360 0.4s linear infinite;
	-o-animation: rotate360 0.4s linear infinite;
	animation: rotate360 0.4s linear infinite;
}

.video-container .video-loader.visible svg {
	opacity: 1;
}

.video-container .video-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: 0.3s ease-in-out opacity;
	-o-transition: 0.3s ease-in-out opacity;
	-moz-transition: 0.3s ease-in-out opacity;
	transition: 0.3s ease-in-out opacity;
}

.video-container .video-bg.loaded {
	opacity: 1;
}

.video-container video {
	opacity: 0;
}

.video-container video.video-ready {
	opacity: 1;
}

.video-container.paused video,
.video-container.playing video {
	opacity: 1;
}

.video-controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-controls .play-btn-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	opacity: 0;
	cursor: pointer;
}

.video-controls .play-btn-container.visible {
	opacity: 1;
}

.video-controls .play-btn svg {
	width: 3rem;
	height: 3rem;
	fill: #000;
}

.video-controls .progress {
	position: absolute;
	bottom: 0;
	left: 1rem;
	right: 1rem;
	width: -webkit-calc(100% - 2rem);
	width: -moz-calc(100% - 2rem);
	width: calc(100% - 2rem);
	height: 2rem;
	opacity: 0;
	-webkit-transition: 0.3s ease-in-out opacity;
	-o-transition: 0.3s ease-in-out opacity;
	-moz-transition: 0.3s ease-in-out opacity;
	transition: 0.3s ease-in-out opacity;
	cursor: pointer;
}

@media (min-width: 768px) {
	.video-controls .progress {
		left: 2rem;
		right: 2rem;
		width: -webkit-calc(100% - 4rem);
		width: -moz-calc(100% - 4rem);
		width: calc(100% - 4rem);
	}
}

.video-controls .progress.ba-draggable,
.video-controls .progress.visible {
	opacity: 1;
}

.video-controls .progress__inner {
	width: 100%;
	height: 2px;
	background: #000;
}

.video-controls .progress-bar-container {
	position: relative;
	height: 2px;
}

.video-controls .progress-bar-container .progress-bar {
	position: relative;
	width: 0;
	height: 100%;
	max-width: 100%;
	-webkit-transition: 0;
	-o-transition: 0;
	-moz-transition: 0;
	transition: 0;
	background: #fff;
}

.video-controls .progress-bar-container .progress-bar:after {
	content: "";
	display: block;
	position: absolute;
	top: -4px;
	right: -4px;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
}

.video-controls .progress-bar-container .progress-bar.transition {
	-webkit-transition: 0.7s linear width;
	-o-transition: 0.7s linear width;
	-moz-transition: 0.7s linear width;
	transition: 0.7s linear width;
}

.video-controls .video-options {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 3rem;
}

@media (min-width: 768px) {
	.video-controls .video-options {
		height: auto;
		left: 2rem;
	}
}

.video-controls .video-options .sound-btn-container {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0;
	margin-right: 0.5rem;
	-webkit-transition: 0.3s ease-in-out opacity;
	-o-transition: 0.3s ease-in-out opacity;
	-moz-transition: 0.3s ease-in-out opacity;
	transition: 0.3s ease-in-out opacity;
	cursor: pointer;
}

.video-controls .video-options .sound-btn-container.visible {
	opacity: 1;
}

.video-controls .video-options .sound-btn-container svg.speaker {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: #000;
	opacity: 0;
}

.video-controls .video-options .sound-btn-container svg.speaker.active {
	opacity: 1;
}

.video-controls .video-options .enter-fullscreen,
.video-controls .video-options .leave-fullscreen {
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0;
	-webkit-transition: 0.3s ease-in-out opacity;
	-o-transition: 0.3s ease-in-out opacity;
	-moz-transition: 0.3s ease-in-out opacity;
	transition: 0.3s ease-in-out opacity;
	margin-right: 0.5rem;
}

.video-controls .video-options .enter-fullscreen.visible,
.video-controls .video-options .leave-fullscreen.visible {
	opacity: 1;
}

.video-controls .video-options .enter-fullscreen svg,
.video-controls .video-options .leave-fullscreen svg {
	width: 100%;
	height: 100%;
	fill: #000;
}

.show-progress-bar .video-options {
	bottom: 2.5rem;
}

.no-touch .video-bg {
	display: none;
}

.projects-scrollbar {
	z-index: 2;
}

.site-infos {
	z-index: 1;
}

.video-section {
	z-index: 1;
}

.video-section .video-controls {
	z-index: 5;
}

.video-section .video-controls .play-btn {
	z-index: 1;
}

.video-section .video-controls .video-bar {
	z-index: 2;
}

.video-section .video-container video {
	z-index: 2;
}

.video-section .video-container .video-bg {
	z-index: 1;
}

.projects-list {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow-y: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.projects-list::-webkit-scrollbar {
	display: none;
}

.projects-list__item {
	margin-right: 1rem;
	padding: 0 0 0.5rem;
	cursor: pointer;
}

.projects-list__item:last-child {
	margin-right: 0;
}

.projects-list__item.opened {
	cursor: auto;
}

.projects-list__content {
	position: relative;
	height: -webkit-calc(100% - 3rem);
	height: -moz-calc(100% - 3rem);
	height: calc(100% - 3rem);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.projects-list__content img {
	display: block;
	max-height: 100%;
	height: 100%;
	width: auto;
}

.projects-list__content .video-container {
	max-height: 100%;
	height: 100%;
}

.projects-list__content video {
	position: relative;
	display: block;
	width: auto;
	height: 100%;
}

.projects-list__infos {
	width: -webkit-calc(100% - 2rem);
	width: -moz-calc(100% - 2rem);
	width: calc(100% - 2rem);
	margin-top: 0.5rem;
}

.projects-list .btn__switch {
	margin-left: auto;
}

.projects-scrollbar {
	padding: 1rem 0;
	background: #fff;
	overflow: hidden;
}

.projects-scrollbar__thumb {
	width: 4rem;
	height: 1px;
	background: #000;
	margin-top: -1px;
}

.projects-scrollbar__line {
	height: 1px;
	background: #e5e5e5;
}

.project__medias {
	max-width: 100%;
}

.project__medias > * {
	margin-left: 1rem;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}

.project__media {
	max-height: 100%;
	height: 100%;
	background: #e5e5e5;
}

.site-infos {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: -webkit-calc(100% - 2rem - 1px);
	max-height: -moz-calc(100% - 2rem - 1px);
	max-height: calc(100% - 2rem - 1px);
	padding: 1rem;
	padding-top: 2rem;
	background: #fff;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateY(-webkit-calc(100% - 2.5rem));
	-moz-transform: translateY(-moz-calc(100% - 2.5rem));
	-ms-transform: translateY(calc(100% - 2.5rem));
	-o-transform: translateY(calc(100% - 2.5rem));
	transform: translateY(calc(100% - 2.5rem));
	-webkit-transition: 0.3s linear transform;
	-o-transition: 0.3s linear transform;
	-moz-transition: 0.3s linear transform;
	transition: 0.3s linear transform;
}

@media (min-width: 768px) {
	.site-infos {
		padding-top: 1rem;
		-webkit-transform: translateY(-webkit-calc(100% - 0.3rem));
		-moz-transform: translateY(-moz-calc(100% - 0.3rem));
		-ms-transform: translateY(calc(100% - 0.3rem));
		-o-transform: translateY(calc(100% - 0.3rem));
		transform: translateY(calc(100% - 0.3rem));
	}

	.remove-tm {
		padding-top: none;
	}
}

.site-infos.active {
	-webkit-transform: translateY(-webkit-calc(2rem + 1px));
	-moz-transform: translateY(-moz-calc(2rem + 1px));
	-ms-transform: translateY(calc(2rem + 1px));
	-o-transform: translateY(calc(2rem + 1px));
	transform: translateY(calc(2rem + 1px));
	overflow: auto;
}

.site-infos__header {
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width: 768px) {
	.site-infos__header {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.site-infos__header .btn__switch {
	position: absolute;
	top: -0.4rem;
	right: 0;
}

.site-infos__main {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width: 1024px) {
	.site-infos__main {
		/*margin-top: 1rem;*/
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.site-infos__main > div {
		margin-right: 2rem;
	}

	.site-infos__main > div:last-child {
		margin-right: 0;
	}
}

.site-infos__attr {
	margin-top: auto;
}

@media (min-width: 1024px) {
	.add-right {
		padding-right: 2rem;
	}
}

.ragged {
	max-width: 440px;
}

.split {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.rule {
	color: var(brandblack);
	text-decoration: underline;
	text-decoration-thickness: 4;
}

.rule:hover {
	color: var(--brandred);
}

.italic {
	font-style: italic;
}
