<!--image post-->
<div class="project__media fullheight lazy-container" data-src="https://unfussy.org/image.png" data-final-width=""
	data-width="9999" data-height="9999" style="width: 1000px">
	<img src="https://unfussy.org/image.png" />
	<div class="projects-list__infos flex flex-wrap">
		<div class="projects-list__desc">
			<p class="hblack">From ?</p>
			<p>
				From ?
			</p>
		</div>
	</div>
</div>


<!--video post-->
<section class="project__media video-section" data-width="1000" data-height="1000" style="width: 1000px;">
	<div class="video-container" data-bg="https://unfussy.org/stillbackground.png">
		<div class="video-bg" style="background: url('
									https://unfussy.org/stillbackground.png') center center / cover
									no-repeat;"></div>
		<video src="https://unfussy.org/video.mp4" width="1000" height="1000" muted="" playsinline="" loop=""></video>
	</div>
	<div class="projects-list__infos flex flex-wrap">
		<div class="projects-list__desc">
			<p class="hblack">From ?</p>
			<p>
				From ?
			</p>
		</div>
	</div>
</section>


<!--expanded figma embed-->
<div class="project__media fullheight lazy-container"
	data-src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FOuM2PfXtGLWYGnUiOAN9c7%2FMobile-Design-Studio%3Fpage-id%3D27%253A25905%26node-id%3D231-27650%26viewport%3D1296%252C989%252C0.25%26scaling%3Dscale-down%26starting-point-node-id%3D231%253A27650"
	data-final-width="" data-width="400" data-height="600" style="width:400px">
	<iframe width="100%" height="100%"
		src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FOuM2PfXtGLWYGnUiOAN9c7%2FMobile-Design-Studio%3Fpage-id%3D27%253A25905%26node-id%3D231-27650%26viewport%3D1296%252C989%252C0.25%26scaling%3Dscale-down%26starting-point-node-id%3D231%253A27650"
		allowfullscreen></iframe>
</div>